<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAFBBV_6k5zMRODMTYkqMk-EM_z8kBeu8</string>
	<key>GCM_SENDER_ID</key>
	<string>855520341828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esd.esdcustomer</string>
	<key>PROJECT_ID</key>
	<string>esd-customer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>esd-customer-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855520341828:ios:2bee961f562af0b2c87111</string>
</dict>
</plist>